body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: 800px;
}

.box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    
}

.box-imagem {
    width: 30%;
    margin-left: 40px;
}

.img-ilustracao {
    width: 29em;    
}

.box-mensagem {
   width: 40%;
   margin-right: 30px;
}

.titulo {
    font-size: 1.8em;
    color: white;
}

.texto {
    color: white;
    font-size: 1.0em;
}

