@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
}

.img-logo {
    margin-top: 30px;
    transform: scale(70%);
}

.box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    
}

.box-imagem {
    width: 30%;
    margin-left: 40px;
}

.img-ilustracao {
    width: 42em;   
    margin-left: 30px; 
}

.box-mensagem {
   width: 35%;
   margin-right: 40px;
}

.titulo {
    font-size: 1.8em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.texto {
    color: white;
    font-size: 1.0em;
    font-family: 'Open Sans', sans-serif;
}

#button-registrar {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#button-registrar:hover {
   background-color: hsl(300, 69%, 71%);
}

.box-social {
    width: 130px;
    display: flex;
    justify-content: space-around;
    float: right;
    margin-right: 50px;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline;
    margin-bottom: 30px;
}

.icon:hover {
    background-color: orange;
    
}



