body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: 800px;
}

.box {
    display: flex;
    margin-top: 50px;
    
}

.img-ilustracao {
    width: 37em;    
}
